.header {
    &__search {
        position: relative;
    }

    &__autocomplete {
        box-sizing: border-box;


        overflow-x: hidden;

        position: absolute;

        width: 100%;
        max-height: 80vh;

        top: calc(100% - $border_radius);
        left: 0;
        right: 0;

        //overflow: scroll;

        border: $border_size_default solid var(--color_primary_4);
        border-top: none;
        border-radius: 0 0 $border_radius $border_radius;

        @include media-screen-large {
            border-radius: 0 0 0 $border_radius;
        }

        background-color: var(--bg_color);

        z-index: 10;

        &.hidden {
            display: none;
        }

        &__list {
            list-style-type: none;

            padding: $margin_small $margin_default 0 $margin_default;
        }

        &__item {
            padding: $margin_small;

            border-bottom: $border_size_default solid var(--color_primary_3);

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}
