.header {
    display: flex;
    justify-content: center;

    &__search-container {
        align-self: center;

        width: $search_container_size;
        max-width: $search_container_max_width;
        height: $default_font_size * 3;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &.error {
            animation-name: rotate;
            animation-duration: $animation_time_medium;
        }
    }

    &__search {
        height: $default_font_size * 1.5;

        display: flex;
        justify-content: center;

        z-index: 20;
    }

    &__search-label {
        padding-left: $default_font_size * 0.5;

        font-size: $font_size_small;

        padding-bottom: $font_size_small * 0.25;

        color: var(--color_primary_4);
        font-weight: 600;
    }

    &__town-input,
    &__button {
        transition: background-color $animation_time_default,
            color $animation_time_default, border $animation_time_default;

        z-index: 20;
    }

    &__town-input {
        box-sizing: border-box;

        width: 76%;
        height: 100%;

        margin: 0;
        padding: 0.5rem;

        border-radius: $border_radius 0 0 $border_radius;
        border: $border_size_default solid var(--color_primary_4);
        outline: none;
        border-right: none;

        background-color: var(--bg_color);

        color: var(--bg_invert_color);

        align-self: flex-start;

        &:focus,
        &:focus + .header__button + .header__autocomplete {
            border-color: var(--color_primary_5);
        }

        &:focus + .header__button {
            border-color: var(--color_primary_5);
            background-color: var(--color_primary_5);
            color: var(--bg_color);
        }
    }

    &__button {
        width: 24%;

        margin: 0;
        padding: 0 $margin_small;

        border-radius: 0 $border_radius $border_radius 0;
        border: $border_size_default solid var(--color_primary_4);
        border-left: none;

        outline: none;

        background-color: var(--bg_color);

        color: var(--color_primary_4);

        &:active {
            background-color: var(--color_primary_2);
            border-color: var(--color_primary_2);
            color: var(--color_primary_5);
        }

        &:active + .header__town-input {
            background-color: var(--color_primary_5);
            color: var(--bg_color);
        }
    }
}
