// carousel found here : https://pawelgrzybek.com/a-simple-carousel-with-a-few-lines-of-css/
.main {
    &__cards-container {
        display: flex;

        list-style: none;

        overflow: auto;

        scroll-snap-type: x mandatory;

        @include media-screen-large {
            scroll-snap-type: none;

            overflow: hidden;
        }
    }

    &__card {
        flex-shrink: 0;

        box-sizing: border-box;

        width: 50%;
        height: 60%;

        @include media-screen-large {
            width: calc((100% - (14 * .5rem) - 2rem)/8); // (container/8 days) - margin
        }

        text-align: center;

        margin: 12.5% .5rem 12.5% .5rem;

        @include media-screen-large {
            margin: 3rem .5rem 0 .5rem;
        }

        scroll-snap-align: center;

        @include media-screen-large {
            scroll-snap-align: none;
        }

        border-radius: $border_radius;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: $margin_large $margin_default;

        &:first-child {
            margin-left: 25%;

            @include media-screen-large {
                width: calc(12.5% + 1rem) ; // (container/8 days)

                margin-left: 0;
                //margin-right: 1rem;
            }

            background-color: var(--color_primary_1);
        }

        &:last-child {
            margin-right: 25%;

            @include media-screen-large {
                margin-right: 0;
            }
        }

        &__hour {
            font-size: $font_size_large;

            color: var(--color_primary_4);
        }

        &__icon {
        }

        &__state {
            font-size: $font_size_small;
        }

        &__temperature {
            font-size: $font_size_xl;

            margin: $margin_large 0 $margin_large $margin_default;

            color: var(--color_primary_5);
        }

        &__feel-label {
            color: var(--color_primary_4);

            font-size: $font_size_small;
            font-weight: 600;
        }

        &__feel-temperature {
            font-size: $font_size_xl;

            margin-left: $margin_default;

            color: var(--color_primary_4);
        }
    }
}
