.main {
    &__localisation {
        padding: 0 $margin_default;

        &__container {
            text-align: center;
        }

        &__start {
            color: var(--color_primary_4);
        }

        &__city {
            color: var(--color_primary_5);
        }
    }
}
