.header {
    &__search {
        position: relative;
    }

    &__autocomplete {
        box-sizing: border-box;

        position: absolute;

        width: 100%;

        top: calc(100% - $border_radius);
        left: 0;
        right: 0;

        border: $border_size_default solid $color_primary_darker;
        border-top: none;

        background-color: $color-white;

        z-index: 10;

        &.hidden {
            display: none;
        }

        &__list {
            list-style-type: none;

            padding: $margin_small;
        }
    }
}
