.header {
    display: flex;
    justify-content: center;

    &__search-container {
        align-self: center;

        width: 90%;
        height: $default_font_size * 3;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background-color: green;
    }

    &__search {
        display: flex;
        height: $default_font_size * 1.5;
        justify-content: center;

        background-color: blue;
    }

    &__search-label {
        padding-left: $default_font_size * 0.5;

        font-size: $font_size_small;

        padding-bottom: $font_size_small * 0.25;
    }

    &__town-input {
        box-sizing: border-box;

        height: 100%;

        margin: 0;
        padding: 0.5rem;

        border: $border_size_default solid red;
        border-radius: $border_radius 0 0 $border_radius;

        align-self: flex-start;
    }

    &__button {
        margin: 0;

        border: $border_size_default solid red;
        border-radius: 0 $border_radius $border_radius 0;
    }
}
