.header {
    display: flex;
    justify-content: center;

    &__search-container {
        align-self: center;

        width: 90%;
        height: $default_font_size * 3;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__search {
        height: $default_font_size * 1.5;

        display: flex;
        justify-content: center;
    }

    &__search-label {
        padding-left: $default_font_size * 0.5;

        font-size: $font_size_small;

        padding-bottom: $font_size_small * 0.25;

        color: $color_primary_dark;
        font-weight: 600;
    }

    &__town-input,
    &__button {
        transition: background-color $animation_time_default,
            color $animation_time_default, border $animation_time_default;
    }

    &__town-input {
        box-sizing: border-box;

        width: 76%;
        height: 100%;

        margin: 0;
        padding: 0.5rem;

        border-radius: $border_radius 0 0 $border_radius;
        border: $border_size_default solid $color_primary_dark;
        outline: none;
        border-right: none;

        background-color: $color-white;

        align-self: flex-start;

        // &:focus {
        //     border-color: $color_primary_darker;
        // }

        &:focus,
        &:focus + .header__button {
            border-color: $color_primary_darker;
            //background-color: $color_primary_darker;
        }

        &:focus + .header__button {
            background-color: $color_primary_darker;
            color: $color-white;
        }
    }

    &__button {
        margin: 0;
        padding: 0 $margin_small;

        border-radius: 0 $border_radius $border_radius 0;
        border: $border_size_default solid $color_primary_dark;
        border-left: none;

        outline: none;

        background-color: $color_white;

        color: $color_primary_darker;

        &:active {
            background-color: $color_primary_light;
            border-color: $color_primary_light;
            color: $color_primary_darker;
        }

        &:active + .header__town-input {
            background-color: $color_primary_darker;
            color: $color-white;
        }
    }
}
