.header {
    display: flex;
    justify-content: center;

    &__search-container {
        //box-sizing: border-box;

        align-self: center;

        width: 90%;
        height: 50%;

        display: flex;

        background-color: green;
    }

    &__search-label {
    }

    &__town-input {
        height: 100%;
    }
}
