// carousel found here : https://pawelgrzybek.com/a-simple-carousel-with-a-few-lines-of-css/
.main {
    display: flex;
    list-style: none;
    overflow: auto;
    scroll-snap-type: x mandatory;

    &__card {
        flex-shrink: 0;

        width: 50%;
        height: 75%;

        margin: 12.5% 1rem 12.5% 1rem;

        scroll-snap-align: center;

        border-radius: $border_radius;

        display: flex;
        flex-direction: column;
        align-items: center;

        &:first-child {
            margin-left: 25%;
            background-color: $color_primary_lighter;
        }

        &:last-child {
            margin-right: 25%;
        }

        &__hour {
            font-size: $font_size_large;

            margin: $margin_default 0;

            color: $color_primary_dark;

            // font-weight: 600;
        }

        &__icon {
        }

        &__state {
            font-size: $font_size_small;
        }

        &__temperature {
            font-size: $font_size_xl;

            margin: $margin_large 0;
            color: $color_primary_darker;
        }

        &__feel-label {
            color: $color_primary_dark;

            font-weight: 600;
        }

        &__feel-temperature {
            font-size: $font_size_xl;
            color: $color_primary_dark;
        }
    }
}
