.main {
    &__localisation {
        padding: 0 $margin_default;

        &__container {
            text-align: center;
            font-size: $font_size_large;
        }

        &__start {
            color: $color_primary_dark;
        }

        &__city {
            color: $color_primary_darker;
        }
    }
}
