body {
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    height: 15%;

    outline-color: yellow;
    background-color: lightgoldenrodyellow;
}
.main {
    width: 100%;
    height: 85%;

    outline-color: orange;
    background-color: lightblue;
}
