@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

// .header {
//     &__search-container {
//         &.error {
//             animation-name: rotate;
//             animation-duration: $animation_time_medium;
//         }
//     }
// }
