$color_primary_lighter: rgb(230, 236, 255);
$color_primary_light: rgb(125, 157, 247);
$color_primary_medium: rgb(36, 87, 230);
$color_primary_dark: rgb(19, 51, 141);
$color_primary_darker: rgb(3, 12, 37);

$color_secondary_lighter: rgb(255, 238, 230);
$color_secondary_light: rgb(240, 211, 197);
$color_secondary_medium: rgb(245, 147, 101);
$color_secondary_dark: rgb(158, 66, 23);
$color_secondary_darker: rgb(48, 18, 4);

$color-background: white;
