$dev: false;

$font_size_small: 1rem;
$font_size_medium: 1.25rem;
$font_size_large: 1.75rem;
$font_size_xl: 2.5rem;
$default_font_size: $font_size_medium;

$icon_size_large: $font_size_xl * 3;

$margin_default: $default_font_size;
$margin_small: $margin_default * 0.5;
$margin_large: $margin_default * 1.5;

$border_radius: $default_font_size * 0.5;
$border_size_default: 2px;

$animation_time_default: 0.1s;

$search_container_size: 90%;
