@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200;400;600&display=swap');

body {
    font-family: 'K2D', sans-serif;
    font-size: $default_font_size;
    font-weight: 400;
    letter-spacing: $default_font_size * 0.15;
}
